@media only screen and (max-width: 1024px){

    .bg-image{
        display: none;
    }

    .container{
        padding-right: 24px;
        padding-left: 24px;
    }

    .icon-logo{
        width: 174px;
        height: 40px;
    }

    .header{
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .header-nav{
        display: none;
    }

    .header-mobile-nav{
        display: block;
    }

    .header-open{
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        margin-bottom: 44px;
    }

    .logo-display{
        display: block;
    }

    .header-open-nav{
        grid-area: 2 / 1 / 3 / 3;
    }

    .icon-close{
        filter: none;
    }

    .mobile-nav-close-btn{
        background-color: transparent;
        border-radius: 0;
        padding: 0;
    }

    .main{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        column-gap: 0;
        row-gap: 80px;
        height: auto;
    }

    .main-about{
        margin-right: 0;
        margin-left: 0;
    }

    .main-info{
        order: 2;
        padding-left: 1.5rem;
    }


    .main-img-inactive{
        margin-top: 40px;
    }

    .main-swiper{
       order: 1;
    }

    .main-note{
        margin-top: 2rem;
    }

  /*  .swiper-wrapper-card {
        width: 250px
    }*/

    .swiper-button-prev{
        display: none;
    }

    .swiper-button-next{
        display: none;
    }

    .swiper-blue{
        margin-top: 40px;
    }

    .main-faq{
        margin-right: 0;
        margin-left: 0;
    }

    .menu{
        width: auto;
        left: 0;
    }

}

@media only screen and (max-width: 767px){

    .container{
        padding-right: 16px;
        padding-left: 16px;
    }

    .header{
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(70px);
    }

    .header-open{
        row-gap: 12px;
        margin-bottom: 16px;
    }

    .main{

        min-height: auto;
        row-gap: 32px;
    }
    .swiper-slide-card{
        margin-top: 16px;
        margin-bottom: 48px;
        padding: 0;
    }

    .main-info{
        padding-left: 0;
    }

    .main-info-inactive{
        row-gap: 30px;
    }

    .main-note-inactive{
        width: auto;
    }

    .main-note-inactive::before{
        margin-left: 16px;
    }

    .main-header{
        font-size: 30px;
        margin-bottom: 1rem;
    }

    .main-header-success{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .main-header-black{
        font-size: 30px;
        line-height: 34px;
        margin-top: 20px;
        margin-bottom: 16px;
    }

    .main-desc-success{
        line-height: 22px;
    }

    .main-success-2{
        flex-direction: column;
        column-gap: 0;
        align-items: center;
        margin-bottom: 16px;
    }

    .main-desc{
        font-size: 16px;
        line-height: 120%;
    }

    .main-form{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 16px;
    }

    .main-input-number{
        width: auto;
    }

    .main-note{
        margin-top: 1.5rem;
    }

    .main-img-inactive{
        margin-top: 16px;
    }

    .swiper-blue{
        margin-top: 32px;
        padding-right: 0;
    }

    .main-gifts{
        flex-direction: column;
        row-gap: 24px;
        margin-bottom: 60px;
    }

    .main-gift{
        flex-direction: column;
        border-bottom: 1px solid #F3F4F4;
    }

    .main-gift:last-child{
        border-bottom: none;
    }

    .main-gift-img-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

   .main-gift-desc{
       padding-top: 24px;
       padding-bottom: 24px;
       align-items: center;
   }

    .main-gift-btn{
        text-align: center;
        align-self: stretch;
    }

    .faq-header{
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 24px;
    }

    .faq-question{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .faq-answer{
        font-size: 16px;
        line-height: 22px;
    }

}