@import "../fonts/stylesheet.css";
body{
    font-family: 'SFRounded', sans-serif;
}

.body{
    min-height: 100vh;
}
.bg-gradient-classic{
    background: linear-gradient(287.64deg, #9D499C 4.69%, #2C3393 92.27%);
}

.bg-gradient-gold{
    background: linear-gradient(287.64deg, #825A13 4.69%, #AA823A 92.27%);
}

.bg-gradient-platinum{
    background: linear-gradient(287.64deg, #393636 4.69%, #848484 92.27%);
}

.bg-gradient-ring{
    background: linear-gradient(287.64deg, #1D1C19 4.69%, #575756 92.27%);
}

.body-inactive{
    height: 100vh;
    background: linear-gradient(287.64deg, #232323 4.69%, #171717 92.27%);
}

.bg-image{
    position: fixed;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-size: cover;
}

.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.icon-logo{
    width: 190px;
    height: 44px;
}

.logo-blue{
    filter: brightness(0) saturate(100%) invert(22%) sepia(34%) saturate(4421%) hue-rotate(210deg) brightness(94%) contrast(88%);
}

.header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    row-gap: 12px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-open{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    row-gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.logo-display{
    display: none;
}

.header-nav{
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.header-open-nav{
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    /*overflow: auto;*/
}

.header-nav-item{
    font-family: 'SFRounded', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 10px 18px;
}

.header-nav-item-success{
    color: #0F2130;
    background: #F3F4F4;
    border-radius: 30px;
}

.header-mobile-nav{
    display: none;
}

.header-mobile-nav-item{
    font-family: 'SFRounded', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #99A0AC;
    padding: 10px 18px;
    background: #F3F4F4;
    border-radius: 30px;
}

.header-mobile-nav-item:hover{
    color: #0F2130;
    background-color: #D6DDE2;
}

.header-mobile-nav-item-active{
    color: #FFFFFF;
    background: #0F2130;
}

.header-mobile-nav-item-active:hover{
    color: #FFFFFF;
    background: #0F2130;
}

.icon-menu{
    width: 24px;
    height: 24px;
}

.success{
    filter: brightness(0) saturate(100%) invert(11%) sepia(11%) saturate(2403%) hue-rotate(165deg) brightness(97%) contrast(98%);
}

.icon-close{
    filter: brightness(0) saturate(100%) invert(67%) sepia(6%) saturate(517%) hue-rotate(179deg) brightness(94%) contrast(90%);
}

.mobile-nav-close-btn{
    justify-self: end;
    background-color: #F3F4F4;
    border-radius: 50%;
    padding: 7px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    min-height: calc(100vh - 80px);
}

.main-about{
    margin-right: 100px;
    margin-left: 100px;
}

.main-success{
    max-width: 600px;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-success-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    margin: auto 0;
}

.main-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 4.25rem;
}

.main-info-inactive{
    row-gap: 40px;
}

.main-header{
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-shadow: 0 6px 2px rgba(0, 0, 0, 0.02);
    margin-bottom: 24px;
}

.main-header-black{
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    color: #0F2130;
    margin-bottom: 24px;
}

.main-header-success{
    text-align: center;
}

.main-desc{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.main-desc-black{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #0F2130;
}


.main-desc-success{
    text-align: center;
}

.main-success-btn{
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #0F2130;
    background: #FFFFFF;
    border: 1.5px solid #D6DDE2;
    border-radius: 2px;
    padding: 17px 32px;
}

.main-success-2{
    display: flex;
    column-gap: 8px;
    justify-content: center;
    margin-bottom: 40px;
}

.main-form-m{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.main-form{
    display: flex;
    column-gap: 12px;
}

.main-note{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 40px;
}

.main-note-success{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #99A0AC;
}

.main-note-link-success{
    color: #0F2130;
    text-decoration: underline;
}

.main-note-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 85, 74, 0.6);
    backdrop-filter: blur(40px);
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 477px;
}

.main-note-inactive::before{
    display: inline-block;
    content: " ";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    margin-right: 12px;
}

.main-img-inactive{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-note-link{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-decoration: underline;
}

.main-input-number{
    font-family: 'SFRounded', sans-serif;
    background: #FFFFFF;
    border: 3px solid rgba(255, 255, 255, 0.02);
    border-radius: 4px;
    padding: 19px 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #99A0AC;
    width: 350px;
}

.main-input-submit{
    font-family: 'SFRounded', sans-serif;
    background: #1690F3;
    border: 3px solid rgba(255, 255, 255, 0.02);
    border-radius: 4px;
    padding: 17px 21px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-swiper{
    align-self: center;
    min-width: 0;
}

/*.swiper-wrapper-card{
    max-width: 620px;
}*/

.swiper-slide-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 54px;
    padding: 0 48px;
}

.swiper-button-prev::after{
    content: " ";
}

.swiper-button-next::after{
    content: " ";
}

.icon-arrow{
    transform: rotate(180deg);
}

.swiper-pagination-bullet{
    background: #FFFFFF;
    opacity: 0.3;
}

.swiper-pagination-bullet-active{
    opacity: 1;
}

.swiper-slide-blue{
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-blue{
    margin-top: 60px;
}

.swiper-wrapper-blue{
    width: 165px;
}

.swiper-slide-blue{
    background: #1690F3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.blue-swiper-number{
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.blue-swiper-desc{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.blue-swiper-icon{
    width: 32px;
    height: 32px;
}

.main-gifts{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 60px;
}

.main-gift{
    display: flex;
    column-gap: 40px;
}

.main-gift-img-container{
    padding: 30px;
    background: radial-gradient(164.39% 471.13% at 0% 0%, rgba(122, 126, 199, 0.9) 0%, rgba(45, 50, 144, 0.9) 100%);
    border-radius: 10px;
}

.main-gift-img{
    width: 190px;
    height: 120px;
}

.main-gift-img-container:hover{
    padding: 24px 20px;
}

.main-gift-img-container:hover .main-gift-img{
    width: 210px;
    height: 132px;
}

.main-gift-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-gift-label{
    background: #FEF2F5;
    border-radius: 60px;
    padding: 2px 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #F27D92;
    text-align: center;
    margin-bottom: 12px;
}

.main-gift-title{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #0F2130;
    margin-bottom: 24px;
}

.main-gift-btn{
    background: #FFFFFF;
    border: 1.5px solid #D6DDE2;
    border-radius: 2px;
    padding: 17px 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #0F2130;
}

.main-gift-btn:hover{
    border: 1.5px solid #0F2130;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background: #D6DDE2;
    border-radius: 5px;
}

.main-faq{
    margin-right: 100px;
    margin-left: 100px;
}

.faq-header{
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 48px;
    color: #0F2130;
    margin-bottom: 40px;
}

.faq-question{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #0F2130;
    margin-bottom: 16px;
}

.faq-answer{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #0F2130;
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid #D6DDE2;
}

/*Tabs*/

.hidden{
    display: none;
}

/*Menu*/

.menu-bg{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(15, 33, 48, 0.5);
    backdrop-filter: blur(20px);
    z-index: 5;
/*    transform: translateX(100%);
    transition: all .4s ease-in-out;*/
}

.menu{
    width: 1024px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 6;
    overflow: auto;
    transform: translateX(100%);
    transition: all .4s ease-in-out;
}

.menu-visible{
    transform: translateX(0);
}