@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Regular.eot');
    src: url('SFRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Regular.woff2') format('woff2'),
        url('SFRounded-Regular.woff') format('woff'),
        url('SFRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Semibold.eot');
    src: url('SFRounded-Semibold.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Semibold.woff2') format('woff2'),
        url('SFRounded-Semibold.woff') format('woff'),
        url('SFRounded-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Medium.eot');
    src: url('SFRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Medium.woff2') format('woff2'),
        url('SFRounded-Medium.woff') format('woff'),
        url('SFRounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFRounded';
    src: url('SFRounded-Bold.eot');
    src: url('SFRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFRounded-Bold.woff2') format('woff2'),
        url('SFRounded-Bold.woff') format('woff'),
        url('SFRounded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

